//las variables debería hacerlas en otros archivos.sccs e importarlos, pero como el proyecto es pequeño està bien :)


//Colores

$background: #FDFDFD;
$background2: #F5F5F5;
$accent: #DAFF8C;
$body-text: #222222;
$body-text2: #014636;
$disabled: #C7D8B7;


//Tipografías
@font-face {
    font-family: 'telegraf';
    src: url('fonts/Telegraf-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'telegraf';
    src: url('fonts/Telegraf-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'telegraf';
    src: url('fonts/Telegraf-Bold.ttf') format('truetype');
    font-weight: 800;
}

$primary-font: 'telegraf', sans-serif;

$font-weights: (
    "regular": 400,
    "medium": 600,
    "bold": 800
);

$font-size: (
    "xs": 0.8rem,
    "sm": 1rem,
    "md": 1.5rem,
    "lg": 3rem,
    "xl": 5rem,
);

//Breakpoints

$breakpoint-small: 576px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;

/////////////////////

* {
    /* border: red 1px solid; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: $background;
    display: grid;
    grid-template-columns: 1fr;
    
    
}

section {
    display: flex;
    flex-direction: column;
    

    #fecha {
        font-family: $primary-font;
        font-weight: 400;
        font-size: map-get($font-size, sm);
        text-align: center;
    }

    h1 {
        height: auto;
        margin: 3rem 0rem;
        font-family: $primary-font;
        color: $body-text;
        font-size: map-get($font-size, lg);
        font-weight: map-get($font-weights, bold);
        line-height: 4rem;
        text-align: center;
    }

    .input {
        display: flex;
        flex-direction: row;
        margin-bottom: 1.5rem;

 
    }

    #input-tarea {
        width: 100%;
        margin-right: 1.5rem;
        padding: 1rem 1.5rem;
        border-radius: 3rem;
        border-style: none;
        font-family: $primary-font;
        color: $body-text;
        background-color: $background2;
        font-size: map-get($font-size, sm);
        font-weight: map-get($font-weights, regular);
    }

    #agregar-tarea {
        width: auto;
        background-color: $accent;
        padding: 1rem 1.5rem;
        border-radius: 3rem;
        border-style: none;
        font-family: $primary-font;
        color: $body-text2;
        font-size: map-get($font-size, sm);
        font-weight: map-get($font-weights, medium);
        cursor: pointer;

    }

    #contador-tareas {
        font-family: $primary-font;
        font-weight: map-get($font-weights, regular);
        font-size: map-get($font-size, sm);
        color: $body-text;
        text-align: center;
        margin: 2.5rem 0rem;
    }


    
}


//Cards

ul {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 1rem;

    li {
        background-color: $accent;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem 2rem;
        border-radius: 2.5rem;
    
        .text-tarea {
            font-family: $primary-font;
            font-weight: map-get($font-weights, regular);
            font-size: map-get($font-size, sm);
            color: $body-text;
        }
        
        .input-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        
            .btn-eliminar {
                
                background-color: transparent;
                padding: 0.3rem 0.5rem;
                border-radius: 3rem;
                border: $body-text2 2px solid;
                font-family: $primary-font;
                color: $body-text2;
                font-size: map-get($font-size, xs);
                font-weight: map-get($font-weights, regular);
                cursor: pointer;
            }
        }  
          
    }

    .li-checked {
        background-color: $disabled;
        
    }

}

@media (max-width: $breakpoint-small) {
    section {
        margin: 2rem;
        height: auto;

        h1 {
            height: auto;
            margin: 3rem 0rem;
            font-family: $primary-font;
            color: $body-text;
            font-size: map-get($font-size, lg);
            font-weight: map-get($font-weights, bold);
            line-height: 4rem;
            text-align: center;
        }
        
    }
}

@media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {

    section {
        margin: 2rem 10vw;
    } 
}

@media (min-width: $breakpoint-medium) {

    body {
        background-color: $background;
        display: grid;
        grid-template-columns: 1fr 40rem 1fr;
        grid-template-areas: 
        ". section ."; 
    }

    section {
        margin: 2rem 0;
        grid-area: section;
    }
}